.container {
  display: flex;
}
.container div {
  height: 50vh;
}

.main {
  flex: 1;
}

.resize-handler {
  cursor: col-resize;
  color: black;
  width: 3px;
  background-color: yellow;
}

.left,
.right {
  background-color: lightblue;
}
.left {
  width: 100px;
}

.main {
  background-color: tomato;
}
