.container {
  display: flex;
}
.container div {
  height: 50vh;
}

.main {
  flex: 1;
}

.resize-handler {
  color: black;
  width: 5px;
  background-color: yellow;
}

.wrapper {
  display: flex;
  width: 100px;
}

.content {
  width: 100%;
  background-color: lightblue;
}

.main {
  background-color: tomato;
}
